:root {
    --blue: #1e90ff;
    --lightBlue: #288dac;
    --white: #ffffff;
    --black: #000000;
    --darkGray: rgb(57, 56, 56);
    --lightGray: rgb(101, 100, 100);
    --red: coral;
    --coralintense: #f98c26;
}

html {
    scroll-behavior:smooth;
}

*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}

body{
    background-color:var(--lightGray);
}
nav{
    flex-direction: row;
    background-color: var(--darkGray);
}
lu{
    display: flex;
    justify-content:flex-end;
}
li{
    text-decoration: none;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    color: var(--white);
    margin: 0px 60px 20px 0px;
}
.logo{
    width: 200px;
    position: relative;
    top:20px;
    left: 150px;
}


/* ANIMATION */
.container {
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: var(--lightBlue);
}

.container h1 {
    position: absolute;
    letter-spacing: 5px;
    color: #fff;
    font-size: 80px;
    text-shadow: 0 2px 5px rgba(0, 0, 0, .4);
    z-index: 100;
}

.container span {
    position: absolute;
    width: 50px;
    height: 50px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .3);
    border-radius: 5px;
    transition: 10s;
}
/**** END ANIMATION ****/

.about_me {
    display: flex;
    background-color: var(--darkGray);
    width: 80%;
    padding: 0 50px;
}
.about_div{
    width: 100%;
}
.about_me_title{
    font-size: 2rem;
    color:var(--white);
    margin: 10px;
    font-weight: 600;
}
.aboutme_description{
    font-size: 1.5rem;
    color:var(--white);
    margin: 10px;
}
.knowledge_title{
    font-size: 2rem;
    color: var(--black);
    padding: 1rem 2rem;
    font-weight: 600;
}

.career{
    color: var(--red);
    margin: 10px;
    font-size: 2rem;
}
.description{
    font-size: 1.5rem;
    width: 90%;
    max-width: 600px;
}
.foto{
    position: relative;
    left: 200px;
    margin: 40px;
    width: 300px;
}
.tech{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    background-color: var(--lightBlue);
    gap: 2px;
    padding: 30px;
    justify-items: center;
}
.div_knowledge {
    background-color:var(--lightBlue);
    padding: 0;
    margin: 0;
}
.card{
    background-color: var(--white);
    width: 90%;
    aspect-ratio: 1;
    border-radius: 20px;
    padding: 10px;
    align-items: center;
}

.image{
    width: 100%;
}

.title_skills{
    font-weight: 800;
    font-size: 1.5rem;
    text-align: center;
    
}


.projectSection{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 5rem 0 8rem 0;
}
.project_container{
    display: flex;
}
.cardProject{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.project_content{
    width: 40%;
    color: var(--white);
    font-size: 1.2rem;
}

.app_name{
    font-size: 2rem;
    font-weight: 800;
    color: var(--coralintense);
    margin-bottom: 1rem;
}
.link_app{
    background-color: var(--coralintense);
    color:var(--black);
    font-size: 2rem;

}
.link_cv{
    color: var(--white);
    text-decoration: none;
}

.description{
    margin-top: 2rem;
}
.projects{
    background-color: var(--lightGray);

}

.title_project{
    font-weight: 800;
    font-size: 2rem;
    color: var(--white);
    margin: 10px;
}
.cardProject{
    width: 400px;
    background-color: var(--white);
    margin: 3rem;
}
.img_proj{
    width: 100%;
    overflow: hidden;
    
}



.contact_me{
    background-color: var(--black);
    color: var(--white);
    height: 250px;
}
.contact_card{
    display: flex;
    justify-content: space-around;

}
.mobil{
    padding: 2rem;
}
.icon{
    font-size: 2rem;
    margin: 1rem;
}

.footer{
    display: flex;
    justify-content: space-evenly;
    background-color: var(--lightGray);
   
    font-size: 1rem;
    font-weight: 800;
    margin: 15px;

}

.up{
    margin: 0 0rem 0 2rem;
    color: var(--white);
    text-decoration: none;
    font-size: 2rem;
}
.black{
    color: var(--black);
}

.div_title_container{
    display: flex;
    justify-content:flex-start;
    align-items: center;
}